<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhongan.fcp.pre.welab.dao.UserAccountMapper" >
  <resultMap id="BaseResultMap" type="com.zhongan.fcp.pre.welab.domain.UserAccount" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="third_user_no" property="thirdUserNo" jdbcType="VARCHAR" />
    <result column="product_code" property="productCode" jdbcType="VARCHAR" />
    <result column="channel_id" property="channelId" jdbcType="BIGINT" />
    <result column="sub_channel_id" property="subChannelId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="cert_type" property="certType" jdbcType="TINYINT" />
    <result column="cert_no" property="certNo" jdbcType="VARCHAR" />
    <result column="phone_no" property="phoneNo" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, third_user_no, product_code, channel_id, sub_channel_id, user_id, cert_type, 
    cert_no, phone_no, user_name, creator, gmt_created, modifier, gmt_modified, is_deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_account
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_account
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhongan.fcp.pre.welab.domain.UserAccount" >
    insert into user_account (id, third_user_no, product_code, 
      channel_id, sub_channel_id, user_id, 
      cert_type, cert_no, phone_no, 
      user_name, creator, gmt_created, 
      modifier, gmt_modified, is_deleted
      )
    values (#{id,jdbcType=BIGINT}, #{thirdUserNo,jdbcType=VARCHAR}, #{productCode,jdbcType=VARCHAR}, 
      #{channelId,jdbcType=BIGINT}, #{subChannelId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{certType,jdbcType=TINYINT}, #{certNo,jdbcType=VARCHAR}, #{phoneNo,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, 
      #{modifier,jdbcType=VARCHAR}, #{gmtModified,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhongan.fcp.pre.welab.domain.UserAccount" >
    insert into user_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="thirdUserNo != null" >
        third_user_no,
      </if>
      <if test="productCode != null" >
        product_code,
      </if>
      <if test="channelId != null" >
        channel_id,
      </if>
      <if test="subChannelId != null" >
        sub_channel_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="certType != null" >
        cert_type,
      </if>
      <if test="certNo != null" >
        cert_no,
      </if>
      <if test="phoneNo != null" >
        phone_no,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="thirdUserNo != null" >
        #{thirdUserNo,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null" >
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="channelId != null" >
        #{channelId,jdbcType=BIGINT},
      </if>
      <if test="subChannelId != null" >
        #{subChannelId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="certType != null" >
        #{certType,jdbcType=TINYINT},
      </if>
      <if test="certNo != null" >
        #{certNo,jdbcType=VARCHAR},
      </if>
      <if test="phoneNo != null" >
        #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhongan.fcp.pre.welab.domain.UserAccount" >
    update user_account
    <set >
      <if test="thirdUserNo != null" >
        third_user_no = #{thirdUserNo,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null" >
        product_code = #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="channelId != null" >
        channel_id = #{channelId,jdbcType=BIGINT},
      </if>
      <if test="subChannelId != null" >
        sub_channel_id = #{subChannelId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="certType != null" >
        cert_type = #{certType,jdbcType=TINYINT},
      </if>
      <if test="certNo != null" >
        cert_no = #{certNo,jdbcType=VARCHAR},
      </if>
      <if test="phoneNo != null" >
        phone_no = #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhongan.fcp.pre.welab.domain.UserAccount" >
    update user_account
    set third_user_no = #{thirdUserNo,jdbcType=VARCHAR},
      product_code = #{productCode,jdbcType=VARCHAR},
      channel_id = #{channelId,jdbcType=BIGINT},
      sub_channel_id = #{subChannelId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      cert_type = #{certType,jdbcType=TINYINT},
      cert_no = #{certNo,jdbcType=VARCHAR},
      phone_no = #{phoneNo,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>